{% extends "layout.twig" %}

{% set header_title = "Identificación" %}

{% block header_css_alt %}
	<style>

		.form-signin
		{
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox
		{
			margin-bottom: 10px;
		}
		.form-signin .checkbox
		{
			font-weight: normal;
		}
		.form-signin .form-control
		{
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
		}
		.form-signin .form-control:focus
		{
			z-index: 2;
		}
		.form-signin input#username
		{
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.form-signin input#password
		{
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	</style>
{% endblock header_css_alt %}

{% block body_header %}
	{% embed "menu.twig" %}
		{% block menu_right_html %}
		{% endblock menu_right_html %}
	{% endembed %}
{% endblock body_header %}

{% block body_container %}
	<div class="form-signin">
		<h2 class="form-signin-heading">Identifícate</h2>
		<input id="username" type="text" class="form-control" placeholder="Usuario o Email" autofocus="">
		<input id="password" type="password" class="form-control" placeholder="Contraseña">
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Recuérdame
		</label>
		<br>
		<button class="btn btn-lg btn-primary btn-block" onclick="login();">
			<span class="glyphicon glyphicon-lock"></span>
			&nbsp;Continuar
		</button>
		<br>
		<br>
		<a href="{{ path('rt_usr_password_forgot') }}" style="float: right; cursor: pointer;">
			Olvidé mi contraseña
			&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		<br>
		<a href="{{ path('rt_usr_register') }}" style="float: right; cursor: pointer;">
			¿No tienes una cuenta? Regístrate aquí
			&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
{% endblock body_container %}

{% block body_javascript_alt %}
	{{ resource_js_jquery_sha256|raw }}
	<script>

		var redirect_path = "{{ redirect_path|default }}";

		function login()
		{
			if($.isEmpty($('#username').val()) || $.isEmpty($('#password').val()))
			{
				alert('Debes rellenar todos los campos');
				return;
			}

			$('div.form-signin button').attr('disabled', true);

			$.ajax(
			{
				type: "POST",
				url: "{{ path('rta_usr_login') }}",
				contentType : "application/json",
				data: JSON.stringify(
				{
					username: $('#username').val(),
					password: $.sha256($('#password').val()),
					random: encodeURI((Math.random()*99999))
				})
			}
			).done(function(data)
			{
				if(redirect_path != '')
				{
					window.location.href = redirect_path;
				}

				window.location.href = "{{ path('rt_main') }}";
			}
			).fail(function(jqXHR)
			{
				$.onAjaxError(jqXHR);

				$('div.form-signin button').attr('disabled', false);
			}
			).always(function() {});
		}

	</script>
{% endblock body_javascript_alt %}
